@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.glowing {
  background: linear-gradient(90deg, #fac443, rgb(255, 162, 0)) !important;
  background-size: 400% 100% !important;
  background-position: 0% 0% !important;
  position: relative;
  z-index: 20;
  /* animation: glow 2s linear infinite !important; */
}

/* @keyframes glow {
  0% {
    background-position: 0% 0% !important;
  }
  100% {
    background-position: 100% 0% !important;
  }
} */

.glowing::before {
  content: "";
  position: absolute;
  background: inherit;
  top: -3px;
  bottom: -3px;
  right: -3px;
  left: -3px;
  border-radius: 9999px;
  filter: blur(10px);
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease;
}

.glowing:hover::before {
  opacity: 0;
}
